@model MIDTERM_E1_BSIT31E1_Villafuerte.Models.Book

<div class="container mt-4">
    <h2>@Model.Title</h2>
    <img src="@Model.ImageUrl" class="img-fluid mb-3" style="max-height:300px; object-fit:cover;" />
    <p><strong>Author:</strong> @Model.Author</p>
    <p><strong>Genre:</strong> @Model.Genre</p>
    <p><strong>Copies:</strong> @Model.Copies</p>

    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>
